<div class="input__wrap">
  <input
    class="input__input"
    type="{{type}}"
    name="{{name}}"
    id="{{name}}"
    {{#if value}} value="{{value}}" {{/if}}
    {{#if placeholder}}placeholder="{{placeholder}}" {{/if}}
    {{#unless placeholder}}placeholder="{{name}}" {{/unless}}
    ></input>
  <label class="input__label" for="{{name}}">{{label}}</label>
</div>
{{#unless isValid}}
  <div class="input__message">
    {{invalidMessage}}
  </div>
{{/unless}}
