<div class="user-settings__left-wrap">
  <a class="user-settings__link-back" href="#/messenger" ></a>
</div>

<div class="user-settings__right-wrap">
  <div class="user-settings__wrap">
    <div class="user-settings__avatar-wrap">
      {{{AvatarComponent}}}
      {{{FormAvatar}}}
    </div>
    <h1 class="user-settings__name">Иван</h1>
    <div class="user-settings__form-wrap">
      {{{FormData}}}
      {{{FormPassword}}}
    </div>

    <div class="user-settings__button-wrap">
      {{{ChangePasswordBtn}}}
      {{{ChangeDataBtn}}}
      <a class="user-settings__button button button--dark" href="#/">Выйти</a>
      {{{SubmitData}}}
      {{{SubmitPassword}}}
    </div>
  </div>
</div>

