<div class="home__chat-list chat-list">
  <div class="chat-list__info">
    <div class="chat-list__nav">
      {{{DemoButton}}}
      {{{ProfileButton}}}
    </div>
    {{{CreateChatButton}}}
    <input class="chat-list__search" id="search" placeholder="Поиск" type="search">
  </div>
  <ul class="chat-list__list">
    {{#each ChatBriks}}
      {{{this}}}
    {{/each}}
  </ul>
</div>
{{{ChatComponent}}}
{{{ModalCreateChat}}}
